{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
<p>
    <a href="{% url 'users_auth:dashboard' %}">Back to dashboard</a>
</p>
<p>
    <a href="{% url 'users_auth:password_reset' %}">Reset password</a>
</p>
<p>
    <a href="{% url 'users_auth:register' %}">Register</a>
</p>
<p>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
</p>
{% endblock %}
