<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'users_auth:logout' %}">Logout</a>
    </p>
    <p>
        <a href="{% url 'users_auth:password_change' %}">Change password</a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'users_auth:login' %}">Login</a>
    </p>
    {% endif %}
</div>

{% endblock %}